@font-face {
  font-family: 'MinhaFontePersonalizada';
  src: url('./assets/FONT.TTF') format('truetype');
}

body {
  margin: 0;
  background: #080a29;
  /* Isso garante que a fonte seja pré-carregada */
  font-family: 'MinhaFontePersonalizada';

  margin: 0;
  padding: 0;
  top: 0;
  width: 100%;
  height: 100%;
}

.under {
  position: fixed;
  inset: 0;
}

.over {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
}